<section class="access-tech">
  <div>
    <div class="access-tech-title">Courier</div>
    <div class="access-tech-description">
      Accede a nuestro tecnologia y conecta con nuestra red operativa
    </div>
  </div>
</section>
<section class="redoperativa">
  <div class="bloques-desktop">
    <div>
      <div class="bloque">
        <div>
          <div>Plataforma</div>
          <div>de operaciones</div>
        </div>
        <div><img src="assets/3-mobile-phero.svg" alt="" /></div>
      </div>
      <div class="bloque">
        <div>
          <div>Optimizador</div>
          <div>de rutas</div>
        </div>
        <div><img src="assets/3-mobile-up.svg" alt="" /></div>
      </div>
    </div>
    <div>
      <div class="bloque">
        <div>
          <div>Trazabilidad en</div>
          <div>tiempo real</div>
        </div>
        <div><img src="assets/3-mobile-plataforma.svg" alt="" /></div>
      </div>
      <div class="bloque">
        <div>
          <div>Gestor</div>
          <div>de clientes</div>
        </div>
        <div><img src="assets/3-mobile-people.svg" alt="" /></div>
      </div>
    </div>
    <div class="bloque-mobile">
      <div>
        <div>Plataforma</div>
        <div>de operaciones</div>
      </div>
      <div><img src="assets/3-mobile-phero.svg" alt="" /></div>
    </div>
    <div class="bloque-mobile">
      <div>
        <div>Optimizador</div>
        <div>de rutas Trazabilidad</div>
      </div>
      <div><img src="assets/3-mobile-up.svg" alt="" /></div>
    </div>
    <div class="bloque-mobile">
      <div>
        <div>Operaciones</div>
        <div>On-demand</div>
      </div>
      <div><img src="assets/3-mobile-plataforma.svg" alt="" /></div>
    </div>
    <div class="bloque-mobile">
      <div>
        <div>Gestor</div>
        <div>de clientes</div>
      </div>
      <div>
        <img
          src="assets/3-mobile-people.svg"
          alt=""
          style="margin-right: 40px"
        />
      </div>
    </div>
  </div>
</section>
