<section class="presentation">
  <div>
    <div class="presentation-body">
      <div>
        <div>
          Activa el piloto automático de tus operaciones de
          <span class="text-degraded"> Delivery </span>
        </div>
      </div>
      <div>
        Integra tus entregas a nuestra red distribución descentralizada y
        expande <br />
        tus operaciones
      </div>
      <div>
        <div>Principal partner</div>
        <div>
          <img src="assets/1-mercadolibre.svg" alt="" /><img
            src="assets/1-enviame.svg"
            alt=""
          /><img src="assets/1-grupocentral.svg" alt="" /><img
            src="assets/1-multivende.svg"
            alt=""
          />
        </div>
      </div>
      <button>Quiero ser Partner</button>
    </div>
    <img src="assets/1-woman-sitting-phero.svg" alt="" />
  </div>
</section>
