.plan-monitor {
  display:flex;
  justify-content: center;
  > div {
    width: 71.8%;
    max-width: 1035px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    > div {
      width: 381px;
      // margin-bottom: 40px;
      margin-bottom: 0px;
      margin-right: 25px;
      > :nth-child(1) {
        font-size: 32px;
      }
      > :nth-child(2) {
        height: 52px;
        font-family: Gilmerlight;
        line-height: 19px;
        margin-top: 12px;
        font-size: 16px;
      }
    }
    img {
      width: 46.5%
    }
  }
}

@media (max-width: 1266px) {}
@media (max-width: 1161px) {
  .plan-monitor {
    > div {
      img {
        width: 37.5%;
        margin-right: 5%;
      }
      div {
        width: 351px;
        margin-left: 25px;
      }
    }
  }
}
@media (max-width: 885px) {
  .plan-monitor {
    margin-bottom: 30px;
    > div {
      margin-bottom: 30px;
      div {
        width: 250px;
      }
    }
  }
}
@media (max-width: 768px) {
  .plan-monitor {
    margin-bottom: 75.48px;
    > div {
      flex-direction: column-reverse ;
      margin-bottom: 20px;
      width: 420px ;
      > div {
        margin-bottom: 0px;
        width: 420px ;
        > :nth-child(1) {
          font-family: Gilmerheavy ;
          span {
            font-family: Gilmerregular;
          }
        }
      }
      img {
        width: 420px !important;
      }
    }
  }
}
@media (max-width: 470px) {
  .plan-monitor {
    margin-bottom: 45px;
    > div {
      width: 100%;
      max-width: 319px;
      margin-bottom: 10px;
      > div {
        width: 100%;
        max-width: 319px;
        margin-left: 0px;
        margin-right: 0px;
        > :nth-child(1){
          font-size: 28px !important;
        }
        > :nth-child(2) {
          margin-top: 19px;
        }
      }
      img {
        width: 100%;
        max-width: 319px;
      }
      > :last-child {
        margin-bottom: 35px;
      }
    }
  }
}
