<section class="mainform">
  <div>
    <div>
      <span style="font-family: Gilmermedium">Cotiza</span> con <br />
      nosotros
    </div>
    <div>
      <fieldset>
        <legend>Ingresa tu nombre</legend>
        <input type="text" placeholder="." />
      </fieldset>
      <fieldset>
        <legend>Comuna</legend>
        <input type="text" placeholder="." />
      </fieldset>
      <fieldset>
        <legend>Ingresa tu correo</legend>
        <input type="email" placeholder="." />
      </fieldset>
      <fieldset>
        <legend>Teléfono de contacto</legend>
        <input type="text" placeholder="." />
      </fieldset>
      <fieldset>
        <legend>Nombre de la empresa</legend>
        <input type="text" placeholder="." />
      </fieldset>
    </div>
    <button>Enviar</button>
  </div>
</section>
