@font-face {
  font-family: Gilmerbold;
  src: url('./fonts/Gilmer-Bold.otf');
}
@font-face {
  font-family: Gilmerheavy;
  src: url('./fonts/Gilmer-Heavy.otf');
}
@font-face {
  font-family: Gilmerlight;
  src: url('./fonts/Gilmer-Light.otf');
}
@font-face {
  font-family: Gilmermedium;
  src: url('./fonts/Gilmer-Medium.otf');
}
@font-face {
  font-family: Gilmeroutline;
  src: url('./fonts/Gilmer-Outline.otf');
}
@font-face {
  font-family: Gilmerregular;
  src: url('./fonts/Gilmer-Regular.otf');
}

body{
  margin: 0px !important;
  padding: 0px !important;
  font-family: Arial;
}
.img-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
header {
  padding: 35.45px 0;
  display: flex;
  justify-content: center;
  font-size: 16px;

  * {
    font-family: Gilmerlight;
  }
  > div {
    width: 71.5%;
    max-width: 1030px;
    display: flex;
    justify-content: space-between;
    > img{
      width: 114.54px;
      height: 35.1px;
    }
    > div {
      gap: 32.3px;
      display: flex;
      align-items: center;
      > div {
        display: flex;
        gap: 24px
      }
    }
  }
  button {
    width: 142px;
    height: 43px;
    background-color: white;
    box-shadow: 0px 12px 60px 1px rgba(15, 15, 15, 0.1);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 16px;
     div {
      background: linear-gradient(180deg, #C850C0 0%, #4158D0 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }

}

.presentation {
  display: flex;
  justify-content: center;
  > img {
    width:42.2%
  }
  > div {
    width: 71.5%;
    max-width: 1030px;
    height: 535px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > img {
      width: 42.2%;
      height: 322.6px;
    }
  }
  .presentation-body {
    width: 49%;
    button {
      width: 304px;
      height: 59px;
      background: linear-gradient(90deg, #C850C0 5.63%, #4158D0 92.5%);
      box-shadow: 0px 15px 15px rgba(41, 52, 208, 0.2);
      border-radius: 12px;
      font-size: 14px;
      font-family: Gilmerregular;
      border: none;
      color: white;
      margin-top: 60px;
    }
    > :nth-child(1) {
      font-size: 48px;
      line-height: 48px;
      letter-spacing: 0.01em;
      font-family: Gilmermedium;
      .text-degraded {
        background: linear-gradient(90deg, #C850C0 0%, #4158D0 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        height: 55px;
      }
    }
    > :nth-child(2) {
      font-size: 16px;
      line-height: 19px;
      font-family: Gilmerlight;
      margin-top: 9px;
    }
    > :nth-child(3) {
      font-size: 14px;
      line-height: 17px;
      font-family: Gilmerregular;
      margin-top: 63px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      > :nth-child(2) {
        display: flex;
        gap: 10px 31.2px;
      }
    }
  }

}
.conectaEC{
  display: flex;
  justify-content: center;
  position: relative;
  > img {
    position: absolute;
    bottom: -190%;
    width: 100%;
  }
  > div {
    width: 71.5%;
    max-width: 1031px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .conectaEC-title {
    letter-spacing: -0.01em;
    font-size: 32px;
    line-height: 34px;
    font-family: Gilmermedium;
    margin-top: 24px;
    background: linear-gradient(95.93deg, #FFCC70 -17.21%, #C850C0 22.56%, #4158D0 72.61%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .conectaEC-description {
    letter-spacing: -0.01em;
    font-weight: 400;
    font-size: 24px;
    font-family: Gilmerregular;
    margin-top: 8px;
  }
  .detallesData {
    max-width: 818px;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:21.5px;
    > :nth-child(1) {
      display: flex;
      width: 100%;
      gap: 20px;
      > div{
        max-width: 259px;
        width: 33%;
        font-family: Gilmerlight;
        font-size: 14px;
      }
    }
    > img {
      margin-top:47px;
      margin-left: 16px;
    }
    button {
      background: #2934D0;
      box-shadow: 0px 15px 15px rgba(41, 52, 208, 0.2);
      border-radius: 10px;
      font-size: 14px;
      color: white;
      font-family: Gilmerregular;
      width: 295px;
      height: 48px;
      margin-top: 56px;
      border: none;
    }
  }
}
.conectaEC-1 {
  margin-top: 92.5px;
  > img {
    opacity: 0.1;
  }
  .conectaEC-description {
    font-size: 32px;
    margin-top: 13px;
  }
}
.conectaEC-2 {
  margin-top: 40px;
}
.redoperativa {
  display: flex;
  justify-content: center;
  > div {
    width: 56.8%;
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    margin-top:80px;
    margin-bottom: 60px;
    > div {
      display: flex;
      gap:20px
    }
  }
  .bloques-desktop {
    > div {
      width: 100%;
    }
    > :nth-child(1) {
      // plataforma de operaciones
      > :nth-child(1) {
        width: 62%;
        align-items: center;
        justify-content: start;
        padding-left: 28px;
        box-sizing: border-box;
        position: relative;
        >:nth-child(1) {
          > :nth-child(1){
          }
          > :nth-child(2){
          }
        }
        img {
          position: absolute;
          bottom: 0px;
          right: 0px;
          width:100%;
          max-width: 360px;
        }
      }
      // optimizador de rutas
      > :nth-child(2) {
        width: 36%;
        align-items: start;
        justify-content: start;
        padding-left: 28px;
        padding-top:55px;
        box-sizing: border-box;
        position: relative;
        width: 36%;
        >:nth-child(1) {
          > :nth-child(1){
          }
          > :nth-child(2){
          }
        }
        img {
          position: absolute;
          bottom: 0px;
          right: 0px;
          width:100%;
          max-width: 245.72px;
        }
      }
    }
    > :nth-child(2) {
      // trazabilidad en tiempo real
      > :nth-child(1) {
        align-items: start;
        padding-top:33px;
        box-sizing: border-box;
        position: relative;
        width: 36%;
        >:nth-child(1) {
          > :nth-child(1){
            font-family: Gilmerregular;
            color: #767780;
            letter-spacing: -0.5px;
          }
          > :nth-child(2){
            font-family: Gilmerbold;
            color: #767780;
            font-size: 28px;
            color: black;
          }
        }
        img {
          position: absolute;
          bottom: 0px;
          right: 0px;
          width:100%;
          max-width: 188.72px;
        }
      }
      // gestor de clientes
      > :nth-child(2) {
        width: 62%;
        align-items: center;
        justify-content: start;
        padding-left:33px;
        box-sizing: border-box;
        position: relative;
        >:nth-child(1) {
          > :nth-child(1){
            font-family: Gilmerregular;
            color: #767780;
          }
          > :nth-child(2){
            font-family: Gilmerbold;
            color: #767780;
            font-size: 28px;
            color: black;
          }
        }
        img {
          position: absolute;
          top: 25%;
          right: 45px;
          max-width: 244.81px;
          width:100%;
        }
      }
    }
  }
  .bloque {
    width: 296px;
    height: 223px;
    background: #FFFFFF;
    box-shadow: 0px 2px 16px 4px rgba(128, 128, 128, 0.09);
    border-radius: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    >:nth-child(1) {
      text-align: start;
      z-index: 2;
      >:nth-child(1) {
        font-size: 28px;
        font-family: Gilmermedium;
        letter-spacing: -1px;
      }
      >:nth-child(2) {
        font-size: 16px;
        font-family: Gilmerlight;
        margin-top: 0px;
      }
    }
    >:nth-child(2) {
      z-index: 0;
    }
  }
}

.conectaEC-3 > div{
  display: flex;
  margin-bottom: 90px;
}

.withimages {
  display:flex;
  justify-content: center;
  > div {
    width: 71.8%;
    max-width: 1035px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    > div {
      > :nth-child(1) {
        font-size: 32px;
      }
      > :nth-child(2) {
        height: 52px;
        font-family: Gilmerlight;
        line-height: 19px;
        margin-top: 12px;
        font-size: 16px;
      }
    }
  }
}

.withimages-1 {
  margin-bottom: 90px;
  > div {
    width: 407px;
    >:nth-child(2) {
      width: 401px;
    }
  }
  img {
    width: 40%;
    max-width: 398px;
  }
}
.withimages-2 {
  margin-bottom: 60px;
  div {
    width: 381px;
    // margin-bottom: 40px;
    margin-bottom: 0px;
    margin-right: 25px;
  }
  img {
    width: 46.5%
  }
}
.withimages-3 {
  margin-bottom: 25px;
  > div {
    width: 407px;
    margin-top:8px;
    margin-left: 10.6%;
    >:nth-child(2) {
      width: 401px;
      letter-spacing: -0.3px;
    }
  }
}
.mainform {
  display: flex;
  justify-content: center;
  button {
    background: linear-gradient(91.4deg, #C850C0 3.99%, #4158D0 96.19%);
    box-shadow: 0px 15px 15px rgba(200, 80, 192, 0.2);
    border-radius: 12px;
    color: white;
    font-size: 14px;
    font-family: Gilmerbold;
    border: none;
    width: 295px;
    height: 48px;
    margin-top: 56px;
  }
  > div {
    width: 56.9%;
    max-width: 820px;
    margin-bottom: 90px;
    > :nth-child(1) {
      font-size: 32px;
      line-height: 34px;
      font-family: Gilmerregular;
      margin-bottom:54px;
    }
    > :nth-child(2) {
      display: flex;
      flex-wrap: wrap;
      gap: 9px 21px;
      > :last-child {
        margin-top:10px;
      }
    }
  }
  fieldset {
    width: 295px;
    border: 1px solid #E8E6EA;
    border-radius: 12px;
    font-family: Gilmerlight;
    color: #999CAD;
    box-sizing: border-box;
    legend {
      font-size: 12px;
    }
    input {
      height: 30px;
      border: none;
      font-family: Gilmerregular;
      padding-left: 10px;
      width: calc(100% - 10px);
      font-size: 18px;
    }
  }
}

.socialmedia{
  display: flex;
  justify-content: center;
  > div {
    width: 672px;
    text-align: center;
    margin-bottom: 195px;
    >div {
      display: flex;
      margin-top: 60px;
      font-family:Gilmerlight;
      img {
        opacity: 0.5;
      }
      >div{
        min-width: 106px;
        font-size: 14px;
        color: #767780;
        height: 57px;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-right: 10.8%
      }
      >:last-child{
        margin-right: 0%
      }
    }
  }
}


@media (max-width: 1266px) {
  .presentation .presentation-body > :nth-child(1) {
    font-size: 38px;
    line-height: 39px;
  }
  .presentation .presentation-body > :nth-child(3) > :nth-child(2){
    flex-wrap: wrap;
    width: 230px;
  }
  .redoperativa .bloque >:nth-child(1) {
    margin-right: 0%;
    width: 60%;
  }
  .redoperativa .bloque >:nth-child(2) {
    width: 30px;
    height: 60px;
  }
  .withimages-3 > div {
    margin-left: 4%;
  }
}
@media (max-width: 1161px) {

  .presentation > div > img {
    width: 350px;
    margin-left: 20px;
  }
  .presentation .presentation-body button {
    margin-top: 30px;
  }
  .presentation .presentation-body > :nth-child(3) {
    margin-top: 10px;
  }
  .redoperativa > div {
    flex-wrap: wrap;
    width: 617px;
    justify-content: center;
  }
  .withimages-1 > div {
    width: 350px;
  }
  .withimages-1 > div >:nth-child(2) {
    width: 350px;
  }
  .withimages-2 img {
    width: 37.5%;
    margin-right: 5%;
  }
  .withimages-2 div {
    width: 351px;
    margin-left: 25px;
  }
  .withimages-3 > div >:nth-child(2) {
    width: 300px;
  }
  .mainform > div {
    width: 70%;
  }
}
@media (max-width: 885px) {
  .presentation .presentation-body > :nth-child(3), .presentation .presentation-body button, header > div > div > div, .conectaEC > img, header button{
    display:none;
  }
  .presentation > div {
    flex-direction: column;
  }
  .presentation .presentation-body > :nth-child(1){
    text-align: center;
  }
  .presentation .presentation-body > :nth-child(2) {
    text-align: center;
  }
  .presentation .presentation-body{
    width: 401px;
  }
  .conectaEC-1 {
    margin-top: 30px;
  }
  .conectaEC-1 .conectaEC-title {
    display: block;
    background: linear-gradient(180deg, #C850C0 0%, #4158D0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 26px;
    font-family: Gilmermedium;
    margin-top: 21px;
  }
  .conectaEC-1 .conectaEC-description {
    display: block;
    font-size: 26px;
    font-family: Gilmermedium
  }
  .conectaEC-2 {
    margin-top: 80px;
  }
  .conectaEC-2 .conectaEC-title {
    font-family: Gilmerbold;
  }
  .redoperativa > div {
    width: 700px;
  }
  .redoperativa .bloque{
    width: 100%;
  }
  .withimages-1 {
    width: 65% !important;
  }
  .withimages-1 > div >:nth-child(2) {
    width: 250px;
  }
  .withimages-1 > div {
    width: 250px;
  }
  .withimages {
    margin-bottom: 30px;
  }
  .withimages-2 {
    margin-bottom: 30px;
  }
  .withimages-2 div {
    width: 250px;
  }
  .mainform > div {
    width: 81%;
  }
  .socialmedia > div >div{
    justify-content: center;
  }
  .socialmedia > div > div >div {
    margin-right: 5%;
  }
}
@media (max-width: 768px) {
  .conectaEC-1 > div {
    width: 74% ;
  }
  .withimages > div {
    flex-direction: column;
  }
  .withimages-1 > div, .withimages > div {
    margin-bottom: 20px;
  }
  .withimages > div, .withimages > div > div, .withimages-1 > div >:nth-child(2), .withimages-1 img, .withimages-2 div, .withimages-2 img, .withimages-3 > div >:nth-child(2), .withimages-3 img {
    width: 420px !important;
  }
  .withimages {
    margin-bottom: 75.48px;
  }
  .withimages > div > div > :nth-child(1) {
    font-family: Gilmerheavy !important;
  }
  .withimages > div > div > :nth-child(1) span {
    font-family: Gilmerregular !important;
  }
  .withimages-2 {
    flex-direction: column-reverse !important;
  }
  .withimages-2 div {
    margin-bottom: 0px;
  }
  .mainform > div > :nth-child(1) br {
    display: none;
  }
  .mainform fieldset {
    width: 100%;
  }
  .socialmedia > div > div >div {
    margin-right: 0%;
  }
  .redoperativa .bloques-desktop {
    width: 90%;
  }
  .redoperativa > div > div{
    flex-direction: column;
    align-items: center;
    > div {
      width: 80% !important;
    }
  }
   .redoperativa .bloque {
    width: 296px;
    height: 223px;
    background: #FFFFFF;
    box-shadow: 0px 2px 16px 4px rgba(128, 128, 128, 0.09);
    border-radius: 21px;
    display: flex;
    justify-content: start !important;
    align-items: center !important;
    padding-left: 30px;
    padding-top: 0px !important;
    >:nth-child(1) {
      text-align: start;
      z-index: 2;
      >:nth-child(1) {
        letter-spacing: -1px;
      }
      >:nth-child(2) {
        margin-top: 0px;
      }
    }
    >:nth-child(2) {
      z-index: 0;
      img {
        width: 50% !important;
      }
    }
  }
}
.img-header-mobile {
  display: none;
}
.bloque-mobile {
  display: none !important;
}
.presentation br {
  display :none ;
}

@media (max-width: 470px) {

  header {
    padding-top: 85px;
    padding-bottom: 40px;
  }
  .img-header {
    display: none;
  }
  header > div {
    width: 85.6%;
  }
  .presentation br {
    display: block ;
  }
  .img-header-mobile {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
  .presentation > div {
    height: 494px;
  }
  .presentation > div > img{
    width: 330px;
    margin-left: -10px;
  }
  .presentation .presentation-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 35px;
  }
  .presentation .presentation-body > :nth-child(1){
    font-size: 32px;
    line-height: 34px;
    width: 319px;
    letter-spacing: -0.04em;
  }
  .presentation .presentation-body > :nth-child(2){
    width: 299px;
    font-size: 14px;
    letter-spacing: -0.03em;
    line-height: 17px;
  }
  .conectaEC-1{
    margin-top: 20px;
  }
  .conectaEC-1 .conectaEC-title {
    font-size: 16px;
    line-height: 19.2px;
  }
  .conectaEC-1 .conectaEC-description {
    font-size: 16px;
    width: 100% !important;
  }
  .conectaEC-1 > div {
    width: 74% ;
  }
  .conectaEC1 > img {
    width: 83px;
    height: 83px;
  }
  .conectaEC-2 {
    margin-top:15px;
  }
  .conectaEC .conectaEC-description {
    font-size: 16px;
    line-height: 19px;
    font-family: Gilmerlight;
    width: 319px;
    margin-top: 10px;
  }
  .conectaEC-3 .conectaEC-description {
    margin-top: 0px !important;
  }
  .redoperativa > div {
    margin-top: 18px;
    gap: 15px;
    width: 100%;
    margin-bottom: 30px;
  }
  .redoperativa > div > div {
    gap: 0px !important;
  }
  .redoperativa .bloque {
    display: none;
  }
  .redoperativa .bloque-mobile {
    width: 85.6% !important;
    height: 90px;
    background: #FFFFFF;
    box-shadow: 0px 2px 16px 4px rgba(128, 128, 128, 0.09);
    border-radius: 14px;
    display: flex !important;
    justify-content: flex-end;
    align-items: center;
  }
  .redoperativa > div > div{
    flex-direction: row;
    align-items: center;
  }
  .redoperativa .bloque-mobile >:nth-child(1) {
    text-align: start;
    width: 40%;
    height: 55px;
    margin-top: 22px;
    margin-left: 22px;
  }
  .redoperativa .bloque-mobile >:nth-child(1) >:nth-child(1) {
    font-size: 16px;
    font-family: Gilmermedium;
  }
  .redoperativa .bloque-mobile >:nth-child(1) >:nth-child(2) {
    font-size: 8px;
    font-family: Gilmerlight;
    margin-top: 1px;
  }
  .redoperativa .bloque-mobile >:nth-child(2) {
    width: 168px;
    display:flex;
    justify-content: flex-end;
  }

  .conectaEC .conectaEC-description {
    margin-top: 0px;
    width: 319px;
    letter-spacing: -0.01em;
  }
  .conectaEC-2 > div {
    width: 90%;
    max-width: 319px;
    margin-top: 16px;
  }
  .conectaEC-2 .conectaEC-description {
    width: 100%;
    margin-top: 10px;
  }
  .conectaEC-3 .conectaEC-title, .conectaEC-3 .conectaEC-description{
    font-size: 16px;
    line-height: 19px;
    font-family: Gilmermedium;
  }
  .conectaEC .conectaEC-title {
    margin-top: 5px;
  }
  .conectaEC-3 > div {
    width: 75%;
    margin-bottom: 214px;
  }

  .conectaEC .detallesData > :nth-child(1) {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 14px;
  }

  .conectaEC .detallesData > :nth-child(1) > div {
    width: 100%;
  }
  .conectaEC .detallesData > img {
    margin-left: 0px;
    width: 235px;
  }
  .withimages-1 > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .withimages > div, .withimages > div > div, .withimages-1 > div >:nth-child(2), .withimages-1 img, .withimages-2 div, .withimages-2 img, .withimages-3 > div >:nth-child(2), .withimages-3 img {
    width: 100%;
    max-width: 319px;
  }
  .withimages-1 > div > :nth-child(1){
    letter-spacing: -0.02em;
  }
  .withimages-1 > div {
    margin-bottom: 60px;
  }
  .withimages > div{
    margin-bottom: 10px;
  }
  .withimages-2  div {
    margin-left: 0px;
    margin-right: 0px;
  }
  .withimages-2 > :last-child {
    margin-bottom: 35px;
  }
  .withimages > div > div > :nth-child(2) {
    margin-top: 19px;
  }
  .withimages-2 > div > :nth-child(1){
    font-size: 28px !important;
  }
  .withimages-3 > div {
    margin-left: 0px;
    margin-bottom: 30px;
  }
  .withimages-3 > div > :nth-child(1) {
    font-size: 32px !important;
    line-height: 28px ;
  }
  .withimages-3 > div > :nth-child(1) span{
    font-size: 24px !important;
  }
  .conectaEC .detallesData {
    margin-top: 34.5px
  }
  .conectaEC .detallesData > :nth-child(1) {
    gap: 17px;
  }
  .conectaEC .detallesData button {
    letter-spacing: -1px;
  }
  .mainform button {
    width: 100%;
  }
  .mainform > div > :nth-child(1) {
    font-size: 16px;
    margin-bottom: 18px;
  }
  .withimages-3 {
    margin-bottom: 0px !important;
  }
  .withimages-mobile-2 {
    margin-bottom: 45px !important;
  }
  .withimages-mobile-3 {
    margin-bottom: 0px !important;
  }
  .mainform > div {
    width: 85%;
    margin-bottom: 70px;
    margin-top: 10px;
  }
  .mainform > div > :nth-child(2) > :last-child {
    margin-top: 0px;
  }
  .mainform > div > :nth-child(1) {
    margin-bottom: 21px;
  }
  .mainform > div > :nth-child(2) {
    gap: 32px 0px
  }
  .mainform button {
    margin-top: 46px;
  }
  .socialmedia > div {
    width: 100%;
    max-width: 320px;
    margin-bottom: 101px;
  }
  .socialmedia > div >div {
    margin-top: 85px;
    flex-direction: column;
    align-items: center;
  }
  .socialmedia > div > div >div {
    margin-right: 0px;
    margin-bottom: 21px;
  }
  .socialmedia > div > img {
    width: 137px;
  }
}
