@font-face {
  font-family: Gilmerbold;
  src: url('./fonts/Gilmer-Bold.otf');
}
@font-face {
  font-family: Gilmerheavy;
  src: url('./fonts/Gilmer-Heavy.otf');
}
@font-face {
  font-family: Gilmerlight;
  src: url('./fonts/Gilmer-Light.otf');
}
@font-face {
  font-family: Gilmermedium;
  src: url('./fonts/Gilmer-Medium.otf');
}
@font-face {
  font-family: Gilmeroutline;
  src: url('./fonts/Gilmer-Outline.otf');
}
@font-face {
  font-family: Gilmerregular;
  src: url('./fonts/Gilmer-Regular.otf');
}

body{
  margin: 0px !important;
  padding: 0px !important;
  font-family: Arial;
}

@media (max-width: 1266px) {}
@media (max-width: 1161px) {}
@media (max-width: 885px) {}
@media (max-width: 768px) {}
@media (max-width: 470px) {}
