<img class="img-header" src="assets/1-1-background-header.svg" alt="" /><img
  class="img-header-mobile"
  src="assets/1-1-background-header-mobile.svg"
  alt=""
/>
<div class="header">
  <div>
    <img src="assets/0-phero-logo-color.svg" alt="" />
    <div>
      <div>Sobre nosotros</div>
      <button>
        <div>Iniciar sesión</div>
      </button>
      <div>
        <img src="assets/1-2-icon-instagram-nav.svg" alt="" /><img
          src="assets/1-2-icon-linkedin-nav.svg"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
