<section class="sameday-service">
  <div>
    <div class="sameday-service-title">Servicio Same day para Ecommerce</div>
    <div class="sameday-service-description">
      Conecta los pedidos de tu Ecommerce con nuestra red operativa
    </div>
    <div class="detallesData">
      <div>
        <div>Sin mínimo de envíos</div>
        <div>Cobertura de entrega RM y Valparaiso</div>
        <div>Tarifa fija</div>
      </div>
      <img src="assets/4-datatravel.svg" alt="" />
      <button>Quiero realizar envíos</button>
    </div>
  </div>
</section>
