<section class="happy-customers">
  <div>
    <div>
      <div style="font-family: Gilmerbold; letter-spacing: -1.5px">
        Drivers felices <br />
        <span style="font-family: Gilmerregular; color: #767780">
          clientes felices
        </span>
      </div>
      <div>
        Toda nuestra operación esta centrada en el bienestar de los conductores
        y en la comunicación que se tiene con los clientes que compran los
        productos
      </div>
    </div>
    <img src="assets/7-peopel.svg" alt="" style="width: 48.8%" />
  </div>
</section>
