.happy-customers {
  display:flex;
  justify-content: center;
  > div  {
    margin-bottom: 25px;
    width: 71.8%;
    max-width: 1035px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    > div {
      width: 407px;
      margin-top:8px;
      margin-left: 10.6%;
      > :nth-child(1) {
        font-size: 32px;
      }
      > :nth-child(2) {
        height: 52px;
        font-family: Gilmerlight;
        line-height: 19px;
        margin-top: 12px;
        font-size: 16px;
        width: 401px;
        letter-spacing: -0.3px;
      }
    }
  }
}

@media (max-width: 1266px) {
  .happy-customers {
    > div {
      > div {
        margin-left: 4%;
      }
    }
  }
}
@media (max-width: 1161px) {
  .happy-customers {
    > div {
      > div {
        >:nth-child(2) {
          width: 300px;
        }
      }
    }
  }
}
@media (max-width: 885px) {
  .happy-customers {
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .happy-customers {
    margin-bottom: 75.48px;
    > div {
      flex-direction: column;
      margin-bottom: 20px;
      width: 420px;
      > div {
        width: 420px;
        > :nth-child(1) {
          font-family: Gilmerheavy;
          span {
            font-family: Gilmerregular;
          }
        }
        >:nth-child(2) {
        width: 420px ;
      }
      }
      img {
        width: 420px ;
      }
    }
  }
}
@media (max-width: 470px) {
  .happy-customers {
    margin-bottom: 0px;
    > div {
      width: 100%;
      max-width: 319px;
      margin-bottom: 0px;
      > div {
        width: 100%;
        max-width: 319px;
        margin-left: 0px;
        margin-bottom: 30px;
        > :nth-child(1) {
          font-size: 32px;
          line-height: 28px ;
          span{
            font-size: 24px ;
          }
        }
        > :nth-child(2) {
          width: 100%;
          max-width: 319px;
          margin-top: 19px;
        }
      }
      img {
        width: 100%;
        max-width: 319px;
      }
    }
  }
}
