<section class="socialmedia">
  <div>
    <img src="assets/0-phero-logo-color.svg" alt="" />
    <div>
      <div>
        <img src="assets/8-wp.svg" alt="" />
        <div>+569 5228 9970</div>
      </div>
      <div>
        <img src="assets/8-insta.svg" alt="" />
        <div>@Getphero</div>
      </div>
      <div style="width: 135px">
        <img src="assets/8-google.svg" alt="" />
        <div>hola@phero.app</div>
      </div>
      <div>
        <img src="assets/8-linkedin.svg" alt="" />
        <div>pheroapp</div>
      </div>
    </div>
  </div>
</section>
